-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: jtmk_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_class_groups`
--

DROP TABLE IF EXISTS `academic_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_class_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `academic_semester_id` bigint(20) unsigned DEFAULT NULL,
  `programme_id` bigint(20) unsigned DEFAULT NULL,
  `class_name` varchar(100) NOT NULL,
  `cohort` varchar(100) DEFAULT NULL,
  `current_semester` varchar(100) DEFAULT NULL,
  `academic_advisor_user_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `archived_at` timestamp NULL DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `academic_class_groups_programme_active_index` (`programme_id`,`is_active`),
  KEY `academic_class_groups_name_active_index` (`class_name`,`is_active`),
  KEY `academic_class_groups_archived_at_index` (`archived_at`),
  KEY `academic_class_groups_semester_index` (`academic_semester_id`),
  KEY `academic_class_groups_advisor_index` (`academic_advisor_user_id`),
  KEY `academic_class_groups_semester_programme_name_index` (`academic_semester_id`,`programme_id`,`class_name`),
  CONSTRAINT `academic_class_groups_academic_advisor_user_id_foreign` FOREIGN KEY (`academic_advisor_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `academic_class_groups_academic_semester_id_foreign` FOREIGN KEY (`academic_semester_id`) REFERENCES `academic_semesters` (`id`),
  CONSTRAINT `academic_class_groups_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_class_groups`
--

LOCK TABLES `academic_class_groups` WRITE;
/*!40000 ALTER TABLE `academic_class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_semesters`
--

DROP TABLE IF EXISTS `academic_semesters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_semesters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `academic_session` varchar(100) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('draft','active','archived') NOT NULL DEFAULT 'draft',
  `is_current` tinyint(1) NOT NULL DEFAULT 0,
  `auto_activate` tinyint(1) NOT NULL DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `academic_semesters_created_by_foreign` (`created_by`),
  KEY `academic_semesters_status_index` (`status`),
  KEY `academic_semesters_current_index` (`is_current`),
  KEY `academic_semesters_activation_index` (`auto_activate`,`start_date`,`end_date`),
  KEY `academic_semesters_session_status_index` (`academic_session`,`status`),
  CONSTRAINT `academic_semesters_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_semesters`
--

LOCK TABLES `academic_semesters` WRITE;
/*!40000 ALTER TABLE `academic_semesters` DISABLE KEYS */;
INSERT INTO `academic_semesters` VALUES (1,'SESI 1 2026/2027','2026/2027','2026-06-21','2026-11-08','active',1,0,NULL,1,'2026-05-17 19:17:59','2026-05-17 19:41:46',NULL),(2,'SESI 2 2026/2027','2026/2027','2026-11-22','2027-04-18','archived',0,0,NULL,2,'2026-05-17 19:17:59','2026-05-18 08:00:53',NULL);
/*!40000 ALTER TABLE `academic_semesters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_subject_offering_class_groups`
--

DROP TABLE IF EXISTS `academic_subject_offering_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_subject_offering_class_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `academic_subject_offering_id` bigint(20) unsigned NOT NULL,
  `academic_class_group_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_subject_offering_class_groups`
--

LOCK TABLES `academic_subject_offering_class_groups` WRITE;
/*!40000 ALTER TABLE `academic_subject_offering_class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_subject_offering_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_subject_offerings`
--

DROP TABLE IF EXISTS `academic_subject_offerings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_subject_offerings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `academic_semester_id` bigint(20) unsigned NOT NULL,
  `academic_subject_id` bigint(20) unsigned NOT NULL,
  `programme_id` bigint(20) unsigned DEFAULT NULL,
  `curriculum_version` varchar(255) DEFAULT NULL,
  `offered_semester` varchar(100) DEFAULT NULL,
  `coordinator_user_id` bigint(20) unsigned DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `academic_subject_offerings_coordinator_user_id_foreign` (`coordinator_user_id`),
  KEY `academic_offerings_semester_index` (`academic_semester_id`),
  KEY `academic_offerings_subject_index` (`academic_subject_id`),
  KEY `academic_offerings_programme_index` (`programme_id`),
  KEY `academic_offerings_active_index` (`is_active`),
  KEY `academic_offerings_semester_subject_programme_index` (`academic_semester_id`,`academic_subject_id`,`programme_id`),
  KEY `academic_subject_offerings_archived_at_index` (`archived_at`),
  CONSTRAINT `academic_subject_offerings_academic_semester_id_foreign` FOREIGN KEY (`academic_semester_id`) REFERENCES `academic_semesters` (`id`),
  CONSTRAINT `academic_subject_offerings_academic_subject_id_foreign` FOREIGN KEY (`academic_subject_id`) REFERENCES `academic_subjects` (`id`),
  CONSTRAINT `academic_subject_offerings_coordinator_user_id_foreign` FOREIGN KEY (`coordinator_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `academic_subject_offerings_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_subject_offerings`
--

LOCK TABLES `academic_subject_offerings` WRITE;
/*!40000 ALTER TABLE `academic_subject_offerings` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_subject_offerings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_subjects`
--

DROP TABLE IF EXISTS `academic_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_subjects` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `course_code` varchar(50) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `credit_hour` decimal(5,2) DEFAULT NULL,
  `weekly_contact_hour` decimal(5,2) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `academic_subjects_course_code_unique` (`course_code`),
  KEY `academic_subjects_active_code_index` (`is_active`,`course_code`),
  KEY `academic_subjects_archived_at_index` (`archived_at`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_subjects`
--

LOCK TABLES `academic_subjects` WRITE;
/*!40000 ALTER TABLE `academic_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `action` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_logs_user_id_foreign` (`user_id`),
  CONSTRAINT `activity_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` bigint(20) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` bigint(20) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_replacement_classes`
--

DROP TABLE IF EXISTS `class_replacement_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `class_replacement_classes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `class_replacement_id` bigint(20) unsigned NOT NULL,
  `class_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `class_replacement_classes_class_replacement_id_class_id_unique` (`class_replacement_id`,`class_id`),
  KEY `class_replacement_classes_class_id_foreign` (`class_id`),
  CONSTRAINT `class_replacement_classes_class_id_foreign` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `class_replacement_classes_class_replacement_id_foreign` FOREIGN KEY (`class_replacement_id`) REFERENCES `class_replacements` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_replacement_classes`
--

LOCK TABLES `class_replacement_classes` WRITE;
/*!40000 ALTER TABLE `class_replacement_classes` DISABLE KEYS */;
INSERT INTO `class_replacement_classes` VALUES (1,1,1,'2026-05-07 17:27:42','2026-05-07 17:27:42'),(2,2,2,'2026-05-09 06:04:41','2026-05-09 06:04:41');
/*!40000 ALTER TABLE `class_replacement_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_replacements`
--

DROP TABLE IF EXISTS `class_replacements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `class_replacements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `semester_id` bigint(20) unsigned DEFAULT NULL,
  `academic_semester_id` bigint(20) unsigned DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `course_id` bigint(20) unsigned DEFAULT NULL,
  `academic_subject_offering_id` bigint(20) unsigned DEFAULT NULL,
  `academic_subject_id` bigint(20) unsigned DEFAULT NULL,
  `programme_id` bigint(20) unsigned DEFAULT NULL,
  `already_implemented` tinyint(1) NOT NULL DEFAULT 0,
  `original_class_date` date NOT NULL,
  `original_start_time` time NOT NULL,
  `original_end_time` time NOT NULL,
  `original_venue` varchar(255) DEFAULT NULL,
  `original_duration_minutes` int(10) unsigned DEFAULT NULL,
  `replacement_date` date NOT NULL,
  `replacement_start_time` time NOT NULL,
  `replacement_end_time` time NOT NULL,
  `replacement_duration_minutes` int(10) unsigned DEFAULT NULL,
  `replacement_venue` varchar(255) DEFAULT NULL,
  `replacement_method` varchar(100) NOT NULL,
  `reason` text DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `status` enum('planned','pending_verification','verified','rejected','cancelled','overdue') DEFAULT 'planned',
  `implementation_submitted_at` timestamp NULL DEFAULT NULL,
  `implementation_approved_by` bigint(20) unsigned DEFAULT NULL,
  `implementation_approved_at` timestamp NULL DEFAULT NULL,
  `implementation_rejected_by` bigint(20) unsigned DEFAULT NULL,
  `implementation_rejected_at` timestamp NULL DEFAULT NULL,
  `implementation_admin_remarks` text DEFAULT NULL,
  `evidence_path` varchar(255) DEFAULT NULL,
  `evidence_original_name` varchar(255) DEFAULT NULL,
  `evidence_uploaded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `class_replacements_course_id_foreign` (`course_id`),
  KEY `class_replacements_implementation_approved_by_foreign` (`implementation_approved_by`),
  KEY `class_replacements_implementation_rejected_by_foreign` (`implementation_rejected_by`),
  KEY `class_replacements_semester_id_status_index` (`semester_id`,`status`),
  KEY `class_replacements_user_id_status_index` (`user_id`,`status`),
  KEY `class_replacements_replacement_date_replacement_start_time_index` (`replacement_date`,`replacement_start_time`),
  KEY `class_replacements_programme_id_foreign` (`programme_id`),
  KEY `class_replacements_academic_semester_id_foreign` (`academic_semester_id`),
  KEY `class_replacements_academic_subject_offering_id_foreign` (`academic_subject_offering_id`),
  KEY `class_replacements_academic_subject_id_foreign` (`academic_subject_id`),
  CONSTRAINT `class_replacements_academic_semester_id_foreign` FOREIGN KEY (`academic_semester_id`) REFERENCES `academic_semesters` (`id`),
  CONSTRAINT `class_replacements_academic_subject_id_foreign` FOREIGN KEY (`academic_subject_id`) REFERENCES `academic_subjects` (`id`),
  CONSTRAINT `class_replacements_academic_subject_offering_id_foreign` FOREIGN KEY (`academic_subject_offering_id`) REFERENCES `academic_subject_offerings` (`id`),
  CONSTRAINT `class_replacements_course_id_foreign` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`),
  CONSTRAINT `class_replacements_implementation_approved_by_foreign` FOREIGN KEY (`implementation_approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `class_replacements_implementation_rejected_by_foreign` FOREIGN KEY (`implementation_rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `class_replacements_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `class_replacements_semester_id_foreign` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`),
  CONSTRAINT `class_replacements_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_replacements`
--

LOCK TABLES `class_replacements` WRITE;
/*!40000 ALTER TABLE `class_replacements` DISABLE KEYS */;
INSERT INTO `class_replacements` VALUES (1,1,1,2,1,1,1,1,1,'2026-05-10','09:26:00','12:29:00',NULL,183,'2026-05-10','14:32:00','15:33:00',61,'mk4','Face-to-face','cuti',NULL,'verified','2026-05-07 17:29:00',2,'2026-05-07 17:29:38',NULL,NULL,'ok. maklum',NULL,NULL,NULL,'2026-05-07 17:27:42','2026-05-18 05:01:49'),(2,1,1,2,1,1,1,1,1,'2026-05-10','10:00:00','13:00:00','mk4',180,'2026-05-18','10:00:00','13:00:00',180,NULL,'Online','cuti_rehat',NULL,'verified','2026-05-09 06:05:10',3,'2026-05-18 08:07:54',NULL,NULL,'OK.',NULL,NULL,NULL,'2026-05-09 06:04:41','2026-05-18 08:07:54');
/*!40000 ALTER TABLE `class_replacements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `master_class_group_id` bigint(20) unsigned DEFAULT NULL,
  `programme_id` bigint(20) unsigned NOT NULL,
  `semester_id` bigint(20) unsigned NOT NULL,
  `class_name` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `classes_programme_id_semester_id_class_name_unique` (`programme_id`,`semester_id`,`class_name`),
  KEY `classes_master_class_group_id_foreign` (`master_class_group_id`),
  KEY `classes_semester_id_master_class_group_id_index` (`semester_id`,`master_class_group_id`),
  CONSTRAINT `classes_master_class_group_id_foreign` FOREIGN KEY (`master_class_group_id`) REFERENCES `master_class_groups` (`id`) ON DELETE SET NULL,
  CONSTRAINT `classes_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `classes_semester_id_foreign` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `courses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `master_course_id` bigint(20) unsigned DEFAULT NULL,
  `semester_id` bigint(20) unsigned NOT NULL,
  `programme_id` bigint(20) unsigned DEFAULT NULL,
  `course_code` varchar(50) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `class_name` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_subject_offering_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `courses_created_by_foreign` (`created_by`),
  KEY `courses_semester_id_is_active_index` (`semester_id`,`is_active`),
  KEY `courses_course_code_class_name_index` (`course_code`,`class_name`),
  KEY `courses_programme_id_foreign` (`programme_id`),
  KEY `courses_master_course_id_foreign` (`master_course_id`),
  KEY `courses_semester_id_master_course_id_index` (`semester_id`,`master_course_id`),
  KEY `courses_academic_subject_offering_id_foreign` (`academic_subject_offering_id`),
  CONSTRAINT `courses_academic_subject_offering_id_foreign` FOREIGN KEY (`academic_subject_offering_id`) REFERENCES `academic_subject_offerings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `courses_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `courses_master_course_id_foreign` FOREIGN KEY (`master_course_id`) REFERENCES `master_courses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `courses_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `courses_semester_id_foreign` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ganti_go_replacement_class_groups`
--

DROP TABLE IF EXISTS `ganti_go_replacement_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ganti_go_replacement_class_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `class_replacement_id` bigint(20) unsigned NOT NULL,
  `academic_class_group_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ganti_go_replacement_class_groups_class_replacement_id_foreign` (`class_replacement_id`),
  CONSTRAINT `ganti_go_replacement_class_groups_class_replacement_id_foreign` FOREIGN KEY (`class_replacement_id`) REFERENCES `class_replacements` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ganti_go_replacement_class_groups`
--

LOCK TABLES `ganti_go_replacement_class_groups` WRITE;
/*!40000 ALTER TABLE `ganti_go_replacement_class_groups` DISABLE KEYS */;
INSERT INTO `ganti_go_replacement_class_groups` VALUES (1,1,2,'2026-05-18 05:01:49','2026-05-18 05:01:49'),(2,2,3,'2026-05-18 05:01:49','2026-05-18 05:01:49');
/*!40000 ALTER TABLE `ganti_go_replacement_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ganti_go_settings`
--

DROP TABLE IF EXISTS `ganti_go_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ganti_go_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(255) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ganti_go_settings_setting_key_unique` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ganti_go_settings`
--

LOCK TABLES `ganti_go_settings` WRITE;
/*!40000 ALTER TABLE `ganti_go_settings` DISABLE KEYS */;
INSERT INTO `ganti_go_settings` VALUES (1,'require_evidence_upload','0','2026-05-07 14:21:14','2026-05-07 14:21:14');
/*!40000 ALTER TABLE `ganti_go_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` smallint(5) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_class_groups`
--

DROP TABLE IF EXISTS `master_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_class_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `class_group_name` varchar(100) NOT NULL,
  `programme_id` bigint(20) unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_class_group_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `master_class_groups_programme_name_unique` (`programme_id`,`class_group_name`),
  KEY `master_class_groups_programme_id_is_active_index` (`programme_id`,`is_active`),
  KEY `master_class_groups_academic_class_group_id_foreign` (`academic_class_group_id`),
  CONSTRAINT `master_class_groups_academic_class_group_id_foreign` FOREIGN KEY (`academic_class_group_id`) REFERENCES `academic_class_groups` (`id`) ON DELETE SET NULL,
  CONSTRAINT `master_class_groups_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_class_groups`
--

LOCK TABLES `master_class_groups` WRITE;
/*!40000 ALTER TABLE `master_class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_courses`
--

DROP TABLE IF EXISTS `master_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_courses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `course_code` varchar(50) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `programme_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_subject_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `master_courses_code_programme_unique` (`course_code`,`programme_id`),
  KEY `master_courses_programme_id_is_active_index` (`programme_id`,`is_active`),
  KEY `master_courses_academic_subject_id_foreign` (`academic_subject_id`),
  CONSTRAINT `master_courses_academic_subject_id_foreign` FOREIGN KEY (`academic_subject_id`) REFERENCES `academic_subjects` (`id`) ON DELETE SET NULL,
  CONSTRAINT `master_courses_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_courses`
--

LOCK TABLES `master_courses` WRITE;
/*!40000 ALTER TABLE `master_courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media_categories`
--

DROP TABLE IF EXISTS `media_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `media_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `media_categories_slug_unique` (`slug`),
  KEY `media_categories_is_active_index` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media_categories`
--

LOCK TABLES `media_categories` WRITE;
/*!40000 ALTER TABLE `media_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `media_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media_download_logs`
--

DROP TABLE IF EXISTS `media_download_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `media_download_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `media_photo_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `downloaded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `media_download_logs_media_photo_id_downloaded_at_index` (`media_photo_id`,`downloaded_at`),
  KEY `media_download_logs_user_id_downloaded_at_index` (`user_id`,`downloaded_at`),
  CONSTRAINT `media_download_logs_media_photo_id_foreign` FOREIGN KEY (`media_photo_id`) REFERENCES `media_photos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `media_download_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media_download_logs`
--

LOCK TABLES `media_download_logs` WRITE;
/*!40000 ALTER TABLE `media_download_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `media_download_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media_photos`
--

DROP TABLE IF EXISTS `media_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `media_photos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `media_profile_id` bigint(20) unsigned NOT NULL,
  `media_category_id` bigint(20) unsigned NOT NULL,
  `photo_path` varchar(255) NOT NULL,
  `thumbnail_path` varchar(255) DEFAULT NULL,
  `original_filename` varchar(255) DEFAULT NULL,
  `caption` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved','rejected','archived') NOT NULL DEFAULT 'pending',
  `rejection_remarks` text DEFAULT NULL,
  `uploaded_by` bigint(20) unsigned DEFAULT NULL,
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejected_by` bigint(20) unsigned DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `is_current_official` tinyint(1) NOT NULL DEFAULT 0,
  `is_featured` tinyint(1) NOT NULL DEFAULT 0,
  `view_count` int(10) unsigned NOT NULL DEFAULT 0,
  `download_count` int(10) unsigned NOT NULL DEFAULT 0,
  `file_size` int(10) unsigned DEFAULT NULL,
  `mime_type` varchar(255) DEFAULT NULL,
  `width` int(10) unsigned DEFAULT NULL,
  `height` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `media_photos_media_category_id_foreign` (`media_category_id`),
  KEY `media_photos_uploaded_by_foreign` (`uploaded_by`),
  KEY `media_photos_approved_by_foreign` (`approved_by`),
  KEY `media_photos_rejected_by_foreign` (`rejected_by`),
  KEY `media_photos_status_media_category_id_index` (`status`,`media_category_id`),
  KEY `media_photos_media_profile_id_status_index` (`media_profile_id`,`status`),
  KEY `media_photos_is_current_official_is_featured_index` (`is_current_official`,`is_featured`),
  CONSTRAINT `media_photos_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `media_photos_media_category_id_foreign` FOREIGN KEY (`media_category_id`) REFERENCES `media_categories` (`id`) ON DELETE CASCADE,
  CONSTRAINT `media_photos_media_profile_id_foreign` FOREIGN KEY (`media_profile_id`) REFERENCES `media_profiles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `media_photos_rejected_by_foreign` FOREIGN KEY (`rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `media_photos_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media_photos`
--

LOCK TABLES `media_photos` WRITE;
/*!40000 ALTER TABLE `media_photos` DISABLE KEYS */;
INSERT INTO `media_photos` VALUES (4,2,2,'photo-repository/2026/05/419493e3-b106-4560-bb2d-ecbbbf3d5833.webp','photo-repository/2026/05/419493e3-b106-4560-bb2d-ecbbbf3d5833-thumb.webp','FAIZAL.png',NULL,'approved',NULL,2,2,'2026-05-13 19:06:26',NULL,NULL,1,1,1,0,81588,'image/webp',1067,1600,'2026-05-13 19:06:05','2026-05-13 19:06:34');
/*!40000 ALTER TABLE `media_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media_profiles`
--

DROP TABLE IF EXISTS `media_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `media_profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `linked_user_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `organization` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `profile_type` enum('internal','external','vip','management') NOT NULL DEFAULT 'internal',
  `has_login_account` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `media_profiles_created_by_foreign` (`created_by`),
  KEY `media_profiles_profile_type_is_active_index` (`profile_type`,`is_active`),
  KEY `media_profiles_linked_user_id_is_active_index` (`linked_user_id`,`is_active`),
  CONSTRAINT `media_profiles_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `media_profiles_linked_user_id_foreign` FOREIGN KEY (`linked_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media_profiles`
--

LOCK TABLES `media_profiles` WRITE;
/*!40000 ALTER TABLE `media_profiles` DISABLE KEYS */;
INSERT INTO `media_profiles` VALUES (1,6,'Ts. AFZANIZAM BIN ALIAS','PENSYARAH','JTMK','JTMK POLIMAS','staff_800525025231@jtmk.local',NULL,'internal',1,0,6,'2026-05-09 15:59:40','2026-05-09 22:43:02'),(2,2,'MOHD FAIZAL BIN YAHAYA','PENSYARAH','JTMK','JTMK POLIMAS','staff_870318065795@jtmk.local','+60127482616','internal',1,1,2,'2026-05-09 16:06:36','2026-05-09 22:43:18');
/*!40000 ALTER TABLE `media_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `module_access_requests`
--

DROP TABLE IF EXISTS `module_access_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `module_access_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `module_id` bigint(20) unsigned NOT NULL,
  `status` enum('pending','approved','rejected','cancelled') NOT NULL DEFAULT 'pending',
  `requested_at` timestamp NULL DEFAULT NULL,
  `reviewed_by` bigint(20) unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `admin_remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `module_access_requests_reviewed_by_foreign` (`reviewed_by`),
  KEY `module_access_requests_module_id_status_index` (`module_id`,`status`),
  KEY `module_access_requests_user_id_status_index` (`user_id`,`status`),
  CONSTRAINT `module_access_requests_module_id_foreign` FOREIGN KEY (`module_id`) REFERENCES `modules` (`id`) ON DELETE CASCADE,
  CONSTRAINT `module_access_requests_reviewed_by_foreign` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `module_access_requests_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `module_access_requests`
--

LOCK TABLES `module_access_requests` WRITE;
/*!40000 ALTER TABLE `module_access_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `module_access_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `module_admins`
--

DROP TABLE IF EXISTS `module_admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `module_admins` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `module_id` bigint(20) unsigned NOT NULL,
  `assigned_by` bigint(20) unsigned DEFAULT NULL,
  `assigned_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `module_admins_assigned_by_foreign` (`assigned_by`),
  KEY `module_admins_user_active_index` (`user_id`,`is_active`),
  KEY `module_admins_module_active_index` (`module_id`,`is_active`),
  CONSTRAINT `module_admins_assigned_by_foreign` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `module_admins_module_id_foreign` FOREIGN KEY (`module_id`) REFERENCES `modules` (`id`) ON DELETE CASCADE,
  CONSTRAINT `module_admins_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `module_admins`
--

LOCK TABLES `module_admins` WRITE;
/*!40000 ALTER TABLE `module_admins` DISABLE KEYS */;
/*!40000 ALTER TABLE `module_admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `module_user_access`
--

DROP TABLE IF EXISTS `module_user_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `module_user_access` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `module_id` bigint(20) unsigned NOT NULL,
  `granted_by` bigint(20) unsigned DEFAULT NULL,
  `granted_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `module_user_access_granted_by_foreign` (`granted_by`),
  KEY `module_user_access_user_active_index` (`user_id`,`is_active`),
  KEY `module_user_access_module_active_index` (`module_id`,`is_active`),
  CONSTRAINT `module_user_access_granted_by_foreign` FOREIGN KEY (`granted_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `module_user_access_module_id_foreign` FOREIGN KEY (`module_id`) REFERENCES `modules` (`id`) ON DELETE CASCADE,
  CONSTRAINT `module_user_access_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `module_user_access`
--

LOCK TABLES `module_user_access` WRITE;
/*!40000 ALTER TABLE `module_user_access` DISABLE KEYS */;
/*!40000 ALTER TABLE `module_user_access` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modules`
--

DROP TABLE IF EXISTS `modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `modules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `route_prefix` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `modules_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modules`
--

LOCK TABLES `modules` WRITE;
/*!40000 ALTER TABLE `modules` DISABLE KEYS */;
INSERT INTO `modules` VALUES (1,'Ganti Go','ganti-go','GG','/ganti-go','Semester-based class replacement management system.',1,'2026-05-06 23:31:47','2026-05-09 08:27:25'),(3,'Photo Repository','photo-repository','PR','/photo-repository','Centralized official portrait and profile photo repository.',1,'2026-05-09 08:27:25','2026-05-09 08:27:25'),(4,'SubjekGo','subjek-go','SG','/subjek-go','Lecturer subject preference management system.',1,'2026-05-16 09:15:01','2026-05-16 09:15:01');
/*!40000 ALTER TABLE `modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `type` varchar(255) DEFAULT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_created_by_foreign` (`created_by`),
  KEY `notifications_user_id_read_at_index` (`user_id`,`read_at`),
  KEY `notifications_type_created_at_index` (`type`,`created_at`),
  CONSTRAINT `notifications_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `notifications_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programmes`
--

DROP TABLE IF EXISTS `programmes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `programmes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `programmes_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programmes`
--

LOCK TABLES `programmes` WRITE;
/*!40000 ALTER TABLE `programmes` DISABLE KEYS */;
INSERT INTO `programmes` VALUES (1,'DIT','Diploma in Information Technology',1,'2026-05-07 14:21:14','2026-05-07 14:21:14'),(2,'DNS','Diploma in Network System',0,'2026-05-07 14:21:14','2026-05-09 22:16:57'),(3,'DIS','Diploma in Information Security',0,'2026-05-07 14:21:14','2026-05-09 22:16:56'),(4,'DDT','DIPLOMA IN DIGITAL TECHNOLOGY',0,'2026-05-07 17:20:51','2026-05-09 22:16:51'),(5,'DIP','DIPLOMA IN PROGRMAMMING',0,'2026-05-08 00:24:43','2026-05-09 06:06:14');
/*!40000 ALTER TABLE `programmes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `replacement_methods`
--

DROP TABLE IF EXISTS `replacement_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `replacement_methods` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `color` varchar(30) DEFAULT NULL,
  `sort_order` smallint(5) unsigned NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `replacement_methods_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `replacement_methods`
--

LOCK TABLES `replacement_methods` WRITE;
/*!40000 ALTER TABLE `replacement_methods` DISABLE KEYS */;
INSERT INTO `replacement_methods` VALUES (1,'Face-to-face','face-to-face',NULL,'blue',10,1,'2026-05-07 14:21:14','2026-05-07 14:21:14'),(2,'Online','online',NULL,'emerald',20,1,'2026-05-07 14:21:14','2026-05-07 14:21:14'),(3,'Hybrid','hybrid',NULL,'purple',30,1,'2026-05-07 14:21:14','2026-05-07 14:21:14'),(4,'Combined Class','combined-class',NULL,'amber',40,1,'2026-05-07 14:21:14','2026-05-07 14:21:14'),(5,'Others','others',NULL,'slate',50,1,'2026-05-07 14:21:14','2026-05-07 14:21:14');
/*!40000 ALTER TABLE `replacement_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `replacement_reasons`
--

DROP TABLE IF EXISTS `replacement_reasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `replacement_reasons` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `sort_order` smallint(5) unsigned NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `replacement_reasons_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `replacement_reasons`
--

LOCK TABLES `replacement_reasons` WRITE;
/*!40000 ALTER TABLE `replacement_reasons` DISABLE KEYS */;
/*!40000 ALTER TABLE `replacement_reasons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semester_class_groups`
--

DROP TABLE IF EXISTS `semester_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `semester_class_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `semester_id` bigint(20) unsigned NOT NULL,
  `master_class_group_id` bigint(20) unsigned NOT NULL,
  `is_offered` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `semester_class_groups_semester_master_unique` (`semester_id`,`master_class_group_id`),
  KEY `semester_class_groups_master_class_group_id_foreign` (`master_class_group_id`),
  KEY `semester_class_groups_semester_id_is_offered_index` (`semester_id`,`is_offered`),
  CONSTRAINT `semester_class_groups_master_class_group_id_foreign` FOREIGN KEY (`master_class_group_id`) REFERENCES `master_class_groups` (`id`),
  CONSTRAINT `semester_class_groups_semester_id_foreign` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semester_class_groups`
--

LOCK TABLES `semester_class_groups` WRITE;
/*!40000 ALTER TABLE `semester_class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `semester_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semester_courses`
--

DROP TABLE IF EXISTS `semester_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `semester_courses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `semester_id` bigint(20) unsigned NOT NULL,
  `master_course_id` bigint(20) unsigned NOT NULL,
  `is_offered` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `semester_courses_semester_master_unique` (`semester_id`,`master_course_id`),
  KEY `semester_courses_master_course_id_foreign` (`master_course_id`),
  KEY `semester_courses_semester_id_is_offered_index` (`semester_id`,`is_offered`),
  CONSTRAINT `semester_courses_master_course_id_foreign` FOREIGN KEY (`master_course_id`) REFERENCES `master_courses` (`id`),
  CONSTRAINT `semester_courses_semester_id_foreign` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semester_courses`
--

LOCK TABLES `semester_courses` WRITE;
/*!40000 ALTER TABLE `semester_courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `semester_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semesters`
--

DROP TABLE IF EXISTS `semesters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `semesters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `session_code` varchar(255) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 0,
  `auto_activate` tinyint(1) NOT NULL DEFAULT 1,
  `remarks` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_semester_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `semesters_session_code_unique` (`session_code`),
  KEY `semesters_created_by_foreign` (`created_by`),
  KEY `semesters_start_date_end_date_index` (`start_date`,`end_date`),
  KEY `semesters_is_active_auto_activate_index` (`is_active`,`auto_activate`),
  KEY `semesters_academic_semester_id_foreign` (`academic_semester_id`),
  CONSTRAINT `semesters_academic_semester_id_foreign` FOREIGN KEY (`academic_semester_id`) REFERENCES `academic_semesters` (`id`) ON DELETE SET NULL,
  CONSTRAINT `semesters_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semesters`
--

LOCK TABLES `semesters` WRITE;
/*!40000 ALTER TABLE `semesters` DISABLE KEYS */;
INSERT INTO `semesters` VALUES (1,'SESI 1 2026/2027','2026/2027','2026-06-21','2026-11-08',1,0,NULL,1,'2026-05-07 07:46:52','2026-05-17 22:38:58',1);
/*!40000 ALTER TABLE `semesters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(255) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `settings_setting_key_unique` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_class_groups`
--

DROP TABLE IF EXISTS `subjek_go_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_class_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `programme_id` bigint(20) unsigned DEFAULT NULL,
  `class_name` varchar(100) NOT NULL,
  `cohort` varchar(100) DEFAULT NULL,
  `current_semester` varchar(100) DEFAULT NULL,
  `academic_advisor_user_id` bigint(20) unsigned DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_class_group_id` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subjek_go_class_groups_programme_active_index` (`programme_id`,`is_active`),
  KEY `subjek_go_class_groups_name_active_index` (`class_name`,`is_active`),
  KEY `subjek_go_class_groups_advisor_index` (`academic_advisor_user_id`),
  KEY `subjek_go_class_groups_academic_class_group_id_foreign` (`academic_class_group_id`),
  KEY `subjek_go_class_groups_archived_at_index` (`archived_at`),
  CONSTRAINT `subjek_go_class_groups_academic_advisor_user_id_foreign` FOREIGN KEY (`academic_advisor_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_class_groups_academic_class_group_id_foreign` FOREIGN KEY (`academic_class_group_id`) REFERENCES `academic_class_groups` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_class_groups_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_class_groups`
--

LOCK TABLES `subjek_go_class_groups` WRITE;
/*!40000 ALTER TABLE `subjek_go_class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjek_go_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_offered_subjects`
--

DROP TABLE IF EXISTS `subjek_go_offered_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_offered_subjects` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `session_id` bigint(20) unsigned NOT NULL,
  `programme_id` bigint(20) unsigned DEFAULT NULL,
  `subject_master_id` bigint(20) unsigned NOT NULL,
  `curriculum_version` varchar(255) DEFAULT NULL,
  `offered_semester` varchar(100) DEFAULT NULL,
  `subject_coordinator_user_id` bigint(20) unsigned DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_subject_offering_id` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subjek_go_subjects_session_active_index` (`session_id`,`is_active`),
  KEY `subjek_go_subjects_programme_active_index` (`programme_id`,`is_active`),
  KEY `subjek_go_offered_subjects_subject_master_id_foreign` (`subject_master_id`),
  KEY `subjek_go_offerings_session_master_index` (`session_id`,`subject_master_id`),
  KEY `subjek_go_subjects_coordinator_index` (`subject_coordinator_user_id`),
  KEY `subjek_go_offered_subjects_academic_subject_offering_id_foreign` (`academic_subject_offering_id`),
  KEY `subjek_go_offered_subjects_archived_at_index` (`archived_at`),
  CONSTRAINT `subjek_go_offered_subjects_academic_subject_offering_id_foreign` FOREIGN KEY (`academic_subject_offering_id`) REFERENCES `academic_subject_offerings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_offered_subjects_programme_id_foreign` FOREIGN KEY (`programme_id`) REFERENCES `programmes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_offered_subjects_session_id_foreign` FOREIGN KEY (`session_id`) REFERENCES `subjek_go_sessions` (`id`),
  CONSTRAINT `subjek_go_offered_subjects_subject_coordinator_user_id_foreign` FOREIGN KEY (`subject_coordinator_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_offered_subjects_subject_master_id_foreign` FOREIGN KEY (`subject_master_id`) REFERENCES `subjek_go_subject_masters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_offered_subjects`
--

LOCK TABLES `subjek_go_offered_subjects` WRITE;
/*!40000 ALTER TABLE `subjek_go_offered_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjek_go_offered_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_preferences`
--

DROP TABLE IF EXISTS `subjek_go_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_preferences` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `session_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `choice_1_subject_id` bigint(20) unsigned NOT NULL,
  `choice_2_subject_id` bigint(20) unsigned NOT NULL,
  `choice_3_subject_id` bigint(20) unsigned NOT NULL,
  `choice_4_subject_id` bigint(20) unsigned NOT NULL,
  `total_selected_contact_hour` decimal(6,2) DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT NULL,
  `status` enum('draft','submitted','locked') NOT NULL DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subjek_go_preferences_session_user_unique` (`session_id`,`user_id`),
  KEY `subjek_go_preferences_choice_1_subject_id_foreign` (`choice_1_subject_id`),
  KEY `subjek_go_preferences_choice_2_subject_id_foreign` (`choice_2_subject_id`),
  KEY `subjek_go_preferences_choice_3_subject_id_foreign` (`choice_3_subject_id`),
  KEY `subjek_go_preferences_choice_4_subject_id_foreign` (`choice_4_subject_id`),
  KEY `subjek_go_preferences_session_status_index` (`session_id`,`status`),
  KEY `subjek_go_preferences_user_status_index` (`user_id`,`status`),
  CONSTRAINT `subjek_go_preferences_choice_1_subject_id_foreign` FOREIGN KEY (`choice_1_subject_id`) REFERENCES `subjek_go_offered_subjects` (`id`),
  CONSTRAINT `subjek_go_preferences_choice_2_subject_id_foreign` FOREIGN KEY (`choice_2_subject_id`) REFERENCES `subjek_go_offered_subjects` (`id`),
  CONSTRAINT `subjek_go_preferences_choice_3_subject_id_foreign` FOREIGN KEY (`choice_3_subject_id`) REFERENCES `subjek_go_offered_subjects` (`id`),
  CONSTRAINT `subjek_go_preferences_choice_4_subject_id_foreign` FOREIGN KEY (`choice_4_subject_id`) REFERENCES `subjek_go_offered_subjects` (`id`),
  CONSTRAINT `subjek_go_preferences_session_id_foreign` FOREIGN KEY (`session_id`) REFERENCES `subjek_go_sessions` (`id`),
  CONSTRAINT `subjek_go_preferences_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_preferences`
--

LOCK TABLES `subjek_go_preferences` WRITE;
/*!40000 ALTER TABLE `subjek_go_preferences` DISABLE KEYS */;
INSERT INTO `subjek_go_preferences` VALUES (1,2,2,5,25,17,20,19.00,'2026-05-18 21:03:01','submitted','2026-05-18 08:34:36','2026-05-18 21:03:01'),(2,2,12,20,14,8,10,18.00,'2026-05-19 07:36:53','submitted','2026-05-19 07:36:53','2026-05-19 07:36:53'),(3,2,36,13,22,18,8,18.00,'2026-05-20 06:00:36','submitted','2026-05-20 05:59:44','2026-05-20 06:00:36');
/*!40000 ALTER TABLE `subjek_go_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_sessions`
--

DROP TABLE IF EXISTS `subjek_go_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_sessions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `academic_session` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `visibility` enum('private','public') NOT NULL DEFAULT 'private',
  `status` enum('draft','open','closed','archived') NOT NULL DEFAULT 'draft',
  `open_at` timestamp NULL DEFAULT NULL,
  `close_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_semester_id` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subjek_go_sessions_created_by_foreign` (`created_by`),
  KEY `subjek_go_sessions_window_index` (`status`,`open_at`,`close_at`),
  KEY `subjek_go_sessions_academic_status_index` (`academic_session`,`status`),
  KEY `subjek_go_sessions_academic_semester_id_foreign` (`academic_semester_id`),
  CONSTRAINT `subjek_go_sessions_academic_semester_id_foreign` FOREIGN KEY (`academic_semester_id`) REFERENCES `academic_semesters` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_sessions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_sessions`
--

LOCK TABLES `subjek_go_sessions` WRITE;
/*!40000 ALTER TABLE `subjek_go_sessions` DISABLE KEYS */;
INSERT INTO `subjek_go_sessions` VALUES (1,'SESI 1 2026/2027','2026/2027','Pemilihan subjek semester hadapan.','public','archived','2026-05-10 03:02:00','2026-05-31 03:03:00',2,'2026-05-16 19:03:36','2026-05-18 08:09:49',1,NULL),(2,'SESI 1 2026/2027','2026/2027',NULL,'public','open','2026-05-11 16:09:00','2026-05-31 16:09:00',3,'2026-05-18 08:09:32','2026-05-18 08:09:32',1,NULL);
/*!40000 ALTER TABLE `subjek_go_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_subject_class_groups`
--

DROP TABLE IF EXISTS `subjek_go_subject_class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_subject_class_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `offered_subject_id` bigint(20) unsigned NOT NULL,
  `class_group_id` bigint(20) unsigned NOT NULL,
  `new_class_group_id` bigint(20) unsigned DEFAULT NULL,
  `academic_advisor_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subjek_go_subject_class_groups_academic_advisor_user_id_foreign` (`academic_advisor_user_id`),
  KEY `subjek_go_subject_class_advisor_index` (`class_group_id`,`academic_advisor_user_id`),
  KEY `subjek_go_subject_class_offered_index` (`offered_subject_id`),
  CONSTRAINT `subjek_go_subject_class_groups_academic_advisor_user_id_foreign` FOREIGN KEY (`academic_advisor_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_subject_class_groups_class_group_id_foreign` FOREIGN KEY (`class_group_id`) REFERENCES `subjek_go_class_groups` (`id`) ON DELETE CASCADE,
  CONSTRAINT `subjek_go_subject_class_groups_offered_subject_id_foreign` FOREIGN KEY (`offered_subject_id`) REFERENCES `subjek_go_offered_subjects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_subject_class_groups`
--

LOCK TABLES `subjek_go_subject_class_groups` WRITE;
/*!40000 ALTER TABLE `subjek_go_subject_class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjek_go_subject_class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_subject_masters`
--

DROP TABLE IF EXISTS `subjek_go_subject_masters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_subject_masters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `course_code` varchar(50) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `credit_hour` decimal(5,2) DEFAULT NULL,
  `weekly_contact_hour` decimal(5,2) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `academic_subject_id` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subjek_go_subject_masters_course_code_unique` (`course_code`),
  KEY `subjek_go_subject_masters_active_code_index` (`is_active`,`course_code`),
  KEY `subjek_go_subject_masters_academic_subject_id_foreign` (`academic_subject_id`),
  KEY `subjek_go_subject_masters_archived_at_index` (`archived_at`),
  CONSTRAINT `subjek_go_subject_masters_academic_subject_id_foreign` FOREIGN KEY (`academic_subject_id`) REFERENCES `academic_subjects` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_subject_masters`
--

LOCK TABLES `subjek_go_subject_masters` WRITE;
/*!40000 ALTER TABLE `subjek_go_subject_masters` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjek_go_subject_masters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_teaching_experiences`
--

DROP TABLE IF EXISTS `subjek_go_teaching_experiences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_teaching_experiences` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `academic_subject_id` bigint(20) unsigned NOT NULL,
  `experience_years` decimal(5,2) NOT NULL DEFAULT 0.00,
  `experience_level` enum('beginner','familiar','experienced','expert') DEFAULT NULL,
  `last_taught_session` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subjek_go_experience_user_subject_unique` (`user_id`,`academic_subject_id`),
  KEY `subjek_go_experience_subject_years_index` (`academic_subject_id`,`experience_years`),
  KEY `subjek_go_experience_user_level_index` (`user_id`,`experience_level`),
  CONSTRAINT `subjek_go_teaching_experiences_academic_subject_id_foreign` FOREIGN KEY (`academic_subject_id`) REFERENCES `academic_subjects` (`id`),
  CONSTRAINT `subjek_go_teaching_experiences_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_teaching_experiences`
--

LOCK TABLES `subjek_go_teaching_experiences` WRITE;
/*!40000 ALTER TABLE `subjek_go_teaching_experiences` DISABLE KEYS */;
INSERT INTO `subjek_go_teaching_experiences` VALUES (3,12,17,0.50,'familiar','2025/2026',NULL,'2026-05-20 05:00:53','2026-05-20 05:00:53');
/*!40000 ALTER TABLE `subjek_go_teaching_experiences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjek_go_teaching_histories`
--

DROP TABLE IF EXISTS `subjek_go_teaching_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjek_go_teaching_histories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `offered_subject_id` bigint(20) unsigned DEFAULT NULL,
  `course_code` varchar(50) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `academic_session` varchar(100) NOT NULL,
  `semester_name` varchar(255) DEFAULT NULL,
  `class_group` varchar(100) DEFAULT NULL,
  `weekly_contact_hour` decimal(5,2) DEFAULT NULL,
  `taught_duration_months` int(10) unsigned DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subjek_go_teaching_histories_offered_subject_id_foreign` (`offered_subject_id`),
  KEY `subjek_go_histories_user_course_index` (`user_id`,`course_code`),
  KEY `subjek_go_histories_session_course_index` (`academic_session`,`course_code`),
  CONSTRAINT `subjek_go_teaching_histories_offered_subject_id_foreign` FOREIGN KEY (`offered_subject_id`) REFERENCES `subjek_go_offered_subjects` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subjek_go_teaching_histories_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjek_go_teaching_histories`
--

LOCK TABLES `subjek_go_teaching_histories` WRITE;
/*!40000 ALTER TABLE `subjek_go_teaching_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjek_go_teaching_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `ic_number` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `profile_photo` varchar(255) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `position` varchar(255) DEFAULT NULL,
  `grade` varchar(255) DEFAULT NULL,
  `mbot_membership` varchar(255) DEFAULT NULL,
  `bem_membership` varchar(255) DEFAULT NULL,
  `account_status` enum('pending','approved','rejected','inactive') NOT NULL DEFAULT 'pending',
  `approved_at` timestamp NULL DEFAULT NULL,
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `is_super_admin` tinyint(1) NOT NULL DEFAULT 0,
  `theme_preference` varchar(30) DEFAULT 'default',
  `language_preference` varchar(5) NOT NULL DEFAULT 'en',
  `theme` varchar(30) NOT NULL DEFAULT 'light',
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `force_password_change` tinyint(1) NOT NULL DEFAULT 0,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_ic_number_unique` (`ic_number`),
  KEY `users_approved_by_foreign` (`approved_by`),
  KEY `users_status_super_index` (`account_status`,`is_super_admin`),
  CONSTRAINT `users_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'jtmk_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-24 16:34:11
